html {
    font-size: 67.5%;
    font:black;

    body {
        .main-body(flex,'Montserrat', 85%, column, 0 auto);


    .about-header {
        margin: 0 auto;
        border: 1px solid grey;
        margin-bottom: 8%;
        padding: 3%;
        box-shadow: 10px 10px 5px grey;

        h1 {
           font-size: 3rem;

           span {
               color: @darkblue;
           }
        }

    }

        .team-members {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .member {
                flex-direction: row;
                margin: 0 auto;
                text-align: center;
                padding: 1%;


                img {
                    width: 110%;
                    border-radius: 50%;
                    padding: 2%;
  
                }
  
                h3 {
                    font-size: 2rem;
                    margin: 0 auto;
                    padding-top: 7%;
                }

                p {
                    padding-top: 8%;
                    margin-left: 7%;
                }
            }
        }

              


           }
        }