html {
    font-size: 67.5%;
    font:black;

    body {
        display:flex;
        font-family: 'Montserrat';
        width: 80%;
        flex-direction: column;
        margin: 0 auto;  

        h1 {
            font-size: 2.6rem;
        }

        .team-members {
            display: flex;
            flex-direction: column;
            border: 2px solid red;

          .member {
              border: 2px solid green;
              flex-direction: row;
          }
        }
    }
}